<h1>
  <%= "Welcome, #{current_user.name.capitalize}!" %>
</h1>
<img class="responsive-img" src="http://thinktheology.co.uk//images/member_photos/default-user-image.jpg">
<%= "Username: #{current_user.username}" %>
<%= "Name: #{current_user.name}" %>

<div class="waves-effect waves-light btn white-text warning">
  <%= link_to "Delete Account", user_path(@user), method: :delete %>
</div>
