<div class="waves-effect waves-light btn white-text warning">
  <%= link_to "Delete Account", user_path(@user), method: :delete %>
</div>
<div class="waves-effect waves-light btn black-text">
  <%= link_to "Order History", orders_path %>
</div>
<div class="waves-effect waves-light btn black-text">
  <%= link_to "Edit Account", edit_user_path(@user) %>
</div>
