.home-page
  %section.row.header-bg

  .row.center-align
    .col.s12
      %h1.white-text.bold Global Ticket
      %h4.white-text.thin Pursue Your Passion
      %br
      %br

      - if !current_user
        .waves-effect.waves-light.btn.white-text
          = button_to "Apply for Membership", new_user_path, method: :get
        .waves-effect.waves-light.btn.white-text
          = button_to "Login to Your Account", login_path, method: :get

      %br
      %br
      %br
      %br
      %br
      %br
      %br
