%section.row.header-bg

.row.center-align
  .col.s12
    %h1.white-text.bold Global Pursuit
    %h4.white-text.thin Pursue Your Passion
    %br
    %br
    .waves-effect.waves-light.btn.white-text
      = button_to "Apply for Membership", new_user_path, method: :get

    - if !current_user
      .waves-effect.waves-light.btn.white-text
        = button_to "Login to Your Account", login_path, method: :get

    %br
    %br
    %br
    %br
    %br
    %br
