%section.row.header-bg

.row.col.s12.m4.l8
    %h1 Global Pursuit
    %h4 Pursue Your Passion
    %br
    %br

    = button_to "Apply for Membership", new_user_path, method: :get

= render partial: "sessions/form"
