%br
%br

.white-text.center-align
  %h1.center-align Place Your Order
  %br

  .row
    .col.s2.offset-s5.white-text
      = form_tag(cart_tickets_path, method: :post) do
        = hidden_field_tag "pursuit_id", params[:id]
        .waves-effect.waves-light.btn.white-text
          = submit_tag "Place Order"

%br
%br
%br
