<div class="container">
  <% if @tickets.empty? %>
    <div class="white-text center-align no-items">
      <h3>No items in cart.</h3>
      <%= link_to "View Tickets", events_path %>
    </div>
  <% end %>
  <% if !@tickets.empty? %>
    <h2>Cart</h2>
    <%= render partial: "edit_ticket", locals: { :tickets => @tickets } %>
    <div class="grey lighten-4 right-align table-footer">
      <div class="col s6 offset-s6">
        <b class="price"><%= "Total: #{format_currency(@cart.total_cost)}" %><b>
        <%= link_to "Checkout", checkout_path, method: :post, class: 'waves-effect waves-light btn white-text orange' %>
      </div>
    </div>
  <% end %>
</div>
