<h1 class="center-align">Order History</h1>
<div class="white container center">
  <table class="cart-table highlight">
    <tr>
      <th>Total Price</th>
      <th>Date Ordered</th>
      <th>Order Details</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <%= content_tag :td, format_currency(order.total || 0) %>
        <%= content_tag :td, format_date(order.created_at) %>
        <%= content_tag :td, link_to("View", order_path(order)) %>
      </tr>
    <% end %>
  </table>
</div>
