%h1.white-text.center-align Order History

.white
  %table.cart-table.highlight
    %tr
      %th Trips Ordered
      %th Total Price
      %th Date Ordered
      %th Order Details

    - @orders.each do |order|
      %tr
        = content_tag :td, sanitize(order_tickets_list(order))
        = content_tag :td, format_currency(order.total || 0)
        = content_tag :td, format_date(order.created_at)
        = content_tag :td, link_to("View", order_path(order))
