%h1 Order History

%table.cart-table.highlight
  %tr
    %th Trips Ordered
    %th Total Price
    %th Date Ordered

  - @orders.each do |order|
    %tr
      = content_tag :td, sanitize(order_pursuits_list(order))
      = content_tag :td, format_currency(order.total)
      = content_tag :td, format_date(order.created_at)
