<h1 class="center-align">Order History</h1>
<div class="white container center">
  <table class="events-table highlight">
    <thead>
      <tr>
        <th>Total Price</th>
        <th>Date Ordered</th>
        <th>Order Details</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr class="clickable" data-link="<%= order_path(order) %>">
          <%= content_tag :td, format_currency(order.total || 0) %>
          <%= content_tag :td, format_date(order.created_at) %>
          <td><%= link_to("View", order_path(order)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
