.white-text
  .center-align
    %h1= @ticket.name

    .waves-effect.waves-light.btn.white-text
      = purchase_link_or_retired_notice

  %p.center-align= "Ticket price: #{format_currency(@ticket.price)}"

  %br

  .row
    .col.s4
    .col.s8
      %p.ticket-section = @ticket.section
      %p.ticket-row = @ticket.row
      %p.ticket-seat = @ticket.seat
