<div class="container">
  <br>
  <br>
  <div class="center">
    <h2>Sell Your Tickets</h2>
    <h5>Join Hundreds of Resellers Below in Reaching Fans</h5>
    <%= link_to "sign up", new_user_path, class: "waves-effect waves-light btn white-text orange" %>
  </div>
  <br>
  <br>
  <div class="vendors-table-wrapper z-depth-1">
    <table class="vendors bordered z-depth-1 events-table" id="vendorsTable">
      <thead>
        <tr>
          <th>
            Vendor
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody></tbody>
      <% @vendors.each do |vendor| %>
        <tr>
          <td>
            <b><%= link_to vendor.name, vendor_path(vendor) %></b>
          </td>
          <td>
            <%= vendor.status %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @vendors %>
  </div>
</div>
