/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//
// @font-face {
//   font-family: "Roboto";
//   src: url("assets/fonts/roboto/Roboto-Light.ttf");
// }
//
// @font-face {
//   font-family: "Roboto-bold";
//   src: url("assets/fonts/Roboto-Bold.ttf");
// }
//
// * {
//   font-family: Roboto;
// }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  color: black;
}

.brand-logo {
  margin-left: 25px;
}
​
.footer-copyright {
  font-size: 18px
}
​
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.header-bg{
  background: image-url('http://iwillmakeyousmile.gq/kar/12325.jpg') no-repeat;
}

#nav-mobile {
  margin-right: 20px;
}
​
#background-card-margin {
  margin-bottom: 15px
}
​
#app-detail-padding {
  padding-bottom: 15px
}

.card-panel h3 {
  font-size: 110%;
}

.page-footer {
  font-size: 80%;
}
