/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

@import 'materialize';
@import url(https://fonts.googleapis.com/css?family=Righteous|Doppio+One);

body {
  font-family: 'Doppio One' sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  color: black;
  border-bottom: 1px solid #ddd;
}

.navbar {
  z-index: 4;
}
nav ul li a {
  color: black;
}

h5 {
  margin: 30px 0;
}

form input[type=text],
form input[type=password], {
  border: 1px solid #ccc;
  padding-left: 10px;
}

.btn a {
  color: white;
}

.brand-logo {
  margin-left: 25px;
}
​
.footer-copyright {
  font-size: 18px
}
​
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

b .price {
  margin-right: 25px;
}

// .header-bg{
//   background: image-url('http://iwillmakeyousmile.gq/kar/12325.jpg') no-repeat;
// }

#nav-mobile {
  margin-right: 20px;
}
​
#background-card-margin {
  margin-bottom: 15px
}
​
#app-detail-padding {
  padding-bottom: 15px
}

.card-panel h3 {
  font-size: 110%;
}

.page-footer {
  font-size: 80%;
}

.flash {
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

.flash_auth, .flash_error {
  background-color: rgba(220,20,60,0.6);
}

.flash_notice {
  background-color: rgba(34,139,34,0.6);
}

.table-footer {
  padding: 35px;
}

.clickable:hover {
  cursor: pointer;
}

.clickable a {
  color: #000;
}
table .highlight tbody tr {
  transition: background-color 0.25s ease;
}

small {
  color: #42a5f5;
}

.filter select {
  border: 1px solid #999;
}

.uos h5 {
  margin-bottom: 5px;
}

.Paid {
  color: #4caf50;
}

.Cancelled {
  color: #f44336;
}

.Completed {
  color: #2196f3;
}

.Pending {
  color: #ff9800;
}

.medium {
  font-size: 2em;
  margin-bottom: -50px;
}

.push-down {
  margin-top: 40px;
}

.map-container {
  margin-top: 50px;
  width: 100%;
  max-height: 400px;
}

.map {
  width: 100%;
  height: 100%;
  max-height: 400px;
}

strong {
  font-weight: 700;
}

.no-bottom-margin {
  margin-bottom: 2px
}

footer {
  margin-top: 0;
  padding-top: 0;
}
