.search {
  margin-top: 50px;
  height: 50px;
}

.material-icons {
  margin-top: 8px;
  font-size: 34px;
}

form .input-field input[type=search] {
  line-height: normal;
}

.hidden {
  display: none;
}

.events-table-wrapper {
  padding: 15px 15px 35px 15px;
  margin-top: 50px;
  // background-color: ;
}

.row .pagination {
  margin-bottom: -35px;
}

.events-table {
    background-color: #fff;
}

.events-table tr {
  border: 1px solid #ccc;
  margin-left: 35px;
  margin-right: 35px;
}

.events-table thead {
  background-color: #e3f2fd;
  border-bottom: 2px solid #333;
}

.events-table tr td {
  padding: 15px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.tickets-table-wrapper {
  padding: 35px;;
  margin-top: 40px;
  background-color: #eee;
}

.tickets-table {
  background-color: #fff;
  padding: 25px !important;
}

.tickets-table tr {
  border: 1px solid #ccc;
  margin-left: 35px;
  margin-right: 35px;
}

.tickets-table thead {
  border-bottom: 2px solid #333;
}

.tickets-table tr td {
  padding: 15px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.pagination a li.active {
  color: #fff;
}

.pagination li a i {
  position: relative;
  top: 10px;
}
