// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bgimage {
  margin: 0 !important;
  background-image: url("concertbg.jpg");
  background-position: bottom;
  height: 500px;
}

.tickets {
  padding: 40px 0;
}
