// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("http://robbielane.net/works/mendenhall/photos/MendenhallPan3.jpg");
}
