body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
​
main {
  flex: 1 0 auto;
}
​
.brand-logo {
  margin-left: 25px;
}
​
.footer-copyright {
  font-size: 18px
}
​
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
​
#nav-mobile {
  margin-right: 20px;
}
​
#background-card-margin {
  margin-bottom: 15px
}
​
#app-detail-padding {
  padding-bottom: 15px
}
